body {
  background: #fff;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: #868e96; }*/

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1, h2,  h4, h5 {
  color: #000; }

.btn, .form-control {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
  .btn:focus, .btn:active, .form-control:focus, .form-control:active {
    outline: none; }

.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  height: 50px;
  border-width: 2px; }

textarea.form-control {
  height: inherit; }

.btn {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2em; }
  .btn.btn-primary {
    color: #fff;
    border-width: 2px; }
    .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
      border-color: #ffce3a;
      background: #ffce3a; }
  .btn.btn-sm {
    font-size: 12px; }
  .btn.btn-outline-primary {
    border-width: 2px;
    color: #ffc107; }
    .btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:active {
      color: #fff; }
  .btn.btn-outline-white {
    border-width: 2px;
    border-color: #fff;
    color: #fff; }
    .btn.btn-outline-white:hover, .btn.btn-outline-white:focus {
      background: #fff;
      color: #000;
      border-width: 2px; }
  .btn:hover {
    text-decoration: none; }

/* Header */
/*header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5; }
  header .navbar-brand {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 400; }
    header .navbar-brand.absolute {
      position: absolute; }
      @media (max-width: 991px) {
        header .navbar-brand.absolute {
          position: relative; } }
    header .navbar-brand span {
      color: #ffc107; }
  header .navbar {
    padding-top: 0;
    padding-bottom: 0;
    background: none !important;
    position: relative; }
    @media (max-width: 1199px) {
      header .navbar {
        background: black !important;
        padding-top: .5rem;
        padding-bottom: .5rem; } }
    header .navbar .nav-link {
      padding: 1.7rem 1rem;
      outline: none !important;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: .2em; }
      @media (max-width: 1199px) {
        header .navbar .nav-link {
          padding: .5rem 0rem; } }
      header .navbar .nav-link.active {
        color: #fff; }
    header .navbar .dropdown-menu {
      font-size: 14px;
      border-radius: 4px;
      border: none;
      -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
      min-width: 13em;
      margin-top: -10px; }
      header .navbar .dropdown-menu:before {
        bottom: 100%;
        left: 10%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #fff;
        border-width: 7px; }
        @media (max-width: 991px) {
          header .navbar .dropdown-menu:before {
            display: none; } }
      header .navbar .dropdown-menu .dropdown-item:hover {
        background: #ffc107;
        color: #fff; }
      header .navbar .dropdown-menu .dropdown-item.active {
        background: #ffc107;
        color: #fff; }
      header .navbar .dropdown-menu a {
        padding-top: 7px;
        padding-bottom: 7px; }
    header .navbar .cta-btn a {
      background: #ffc107;
      color: #000 !important;
      padding-left: 20px !important;
      padding-right: 20px !important;
      text-transform: uppercase;
      padding-top: 26px !important;
      padding-bottom: 26px !important;
      line-height: 1;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      header .navbar .cta-btn a:hover {
        color: #fff !important;
        -webkit-box-shadow: 2px 0 30px -5px rgba(255, 193, 7, 0.9);
        box-shadow: 2px 0 30px -5px rgba(255, 193, 7, 0.9); }

.half .text, .half .image {
  width: 50%; }
  @media (max-width: 991px) {
    .half .text, .half .image {
      width: 100%; } }

.half .text {
  padding: 7%; }

.half .image {
  background-size: cover;
  background-position: center center; }
  @media (max-width: 991px) {
    .half .image {
      height: 350px; } }

.section-heading h2 {
  font-size: 50px; }

.section-heading .small-sub-heading {
  font-size: 14px;
  color: #ffc107; }

.blog .media h3 {
  font-size: 20px;
  margin-bottom: 10px; }

.blog .media .post-meta {
  font-size: 14px;
  letter-spacing: .2em;
  text-transform: uppercase; }

.blog .media > a {
  width: 40%; }
  @media (max-width: 767px) {
    .blog .media > a {
      width: 100%;
      margin-bottom: 30px; } }

.custom-icon {
  font-size: 70px;
  color: #ffc107; }*/

/* Owl Carousel */
/*.owl-carousel .owl-item {
  opacity: .4; }
  .owl-carousel .owl-item.active {
    opacity: 1; }

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -10px;
    opacity: .2;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-prev:focus, .owl-carousel .owl-nav .owl-prev:active,
    .owl-carousel .owl-nav .owl-next:hover,
    .owl-carousel .owl-nav .owl-next:focus,
    .owl-carousel .owl-nav .owl-next:active {
      outline: none;
      opacity: 1; }
    .owl-carousel .owl-nav .owl-prev span:before,
    .owl-carousel .owl-nav .owl-next span:before {
      font-size: 40px; }
  .owl-carousel .owl-nav .owl-prev {
    left: 30px !important; }
  .owl-carousel .owl-nav .owl-next {
    right: 30px !important; }

.owl-carousel .owl-dots {
  text-align: center; }
  .owl-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: none;
    background: #fff; }
    .owl-carousel .owl-dots .owl-dot.active {
      background: none; }

.owl-carousel.home-slider {
  z-index: 1;
  position: relative; }
  .owl-carousel.home-slider .btn-link {
    color: #fff; }
  .owl-carousel.home-slider .owl-nav {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .owl-carousel.home-slider .owl-nav button {
      color: #fff; }
  .owl-carousel.home-slider:focus .owl-nav, .owl-carousel.home-slider:hover .owl-nav {
    opacity: 1;
    visibility: visible; }
  .owl-carousel.home-slider .slider-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: calc(100vh - 217px);
    min-height: 700px;
    position: relative; }
    .owl-carousel.home-slider .slider-item:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.2);
      content: ""; }
    .owl-carousel.home-slider .slider-item .slider-text {
      color: #fff;
      height: calc(100vh - 217px);
      min-height: 700px; }
      .owl-carousel.home-slider .slider-item .slider-text .child-name {
        font-size: 40px;
        color: #fff; }
      .owl-carousel.home-slider .slider-item .slider-text h1 {
        font-size: 40px;
        color: #fff;
        line-height: 1.2;
        font-weight: 800 !important;
        text-transform: uppercase; }
        @media (max-width: 991px) {
          .owl-carousel.home-slider .slider-item .slider-text h1 {
            font-size: 40px; } }
      .owl-carousel.home-slider .slider-item .slider-text p {
        font-size: 20px;
        line-height: 1.5;
        font-weight: 300;
        color: white; }
  .owl-carousel.home-slider.inner-page .slider-item {
    height: calc(50vh - 117px);
    min-height: 550px; }
    .owl-carousel.home-slider.inner-page .slider-item .slider-text {
      color: #fff;
      height: calc(50vh - 117px);
      min-height: 550px; }
  .owl-carousel.home-slider .owl-dots {
    position: absolute;
    bottom: 100px;
    width: 100%; }
    .owl-carousel.home-slider .owl-dots .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      border: 2px solid rgba(255, 255, 255, 0.5);
      outline: none !important;
      position: relative;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .owl-carousel.home-slider .owl-dots .owl-dot.active {
        border: 2px solid white; }
        .owl-carousel.home-slider .owl-dots .owl-dot.active span {
          background: white; }

.owl-carousel.major-caousel .owl-stage-outer {
  padding-top: 30px;
  padding-bottom: 30px; }

.owl-carousel.major-caousel .owl-nav .owl-prev, .owl-carousel.major-caousel .owl-nav .owl-next {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #495057; }
  .owl-carousel.major-caousel .owl-nav .owl-prev:hover, .owl-carousel.major-caousel .owl-nav .owl-prev:focus, .owl-carousel.major-caousel .owl-nav .owl-next:hover, .owl-carousel.major-caousel .owl-nav .owl-next:focus {
    color: #868e96;
    outline: none; }
  .owl-carousel.major-caousel .owl-nav .owl-prev.disabled, .owl-carousel.major-caousel .owl-nav .owl-next.disabled {
    color: #dee2e6; }

.owl-carousel.major-caousel .owl-nav .owl-prev {
  left: -60px !important; }

.owl-carousel.major-caousel .owl-nav .owl-next {
  right: -60px !important; }

.owl-carousel.major-caousel .owl-dots {
  bottom: -30px !important;
  position: relative; }

.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10; }
  .owl-custom-nav .owl-custom-prev,
  .owl-custom-nav .owl-custom-next {
    padding: 10px;
    font-size: 30px;
    background: #ccc;
    line-height: 0;
    width: 60px;
    text-align: center;
    display: inline-block; }*/
    

/*.section {
  padding: 7em 0; }

.section-subscribe {
  padding: 2em 0; }

.contact-form-contact-info p {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.5;
  color: #000; }
  .contact-form-contact-info p .icon {
    top: -4px;
    position: relative;
    width: 0px;
    font-size: 30px;
    color: #ffc107; }

/*.load-more {
  display: block;
  padding: 40px;
  text-align: center;
  background: #e9ecef;
  color: #000;
  font-size: 20px; }
  .load-more:hover {
    background: #ffc107;
    color: #fff; }

.cover_1 {
  background-size: cover;
  background-position: center center;
  padding: 7em 0; }
  .cover_1 .sub-heading {
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px; }
  .cover_1 .heading {
    font-size: 50px;
    color: white;
    font-weight: 300; }

.heading {
  color: #000; }
  .heading.border-bottom {
    position: relative;
    padding-bottom: 30px; }
    .heading.border-bottom:before {
      bottom: 0;
      position: absolute;
      content: "";
      width: 50px;
      height: 2px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      background: #ffc107; }

.text-black {
  color: #000 !important; }

.stretch-section .video {
  display: block;
  position: relative;
  -webkit-box-shadow: 4px 4px 70px -20px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 70px -20px rgba(0, 0, 0, 0.5); }

.media-feature {
  padding: 30px;
  -webkit-transition: .2s all ease-out;
  -o-transition: .2s all ease-out;
  transition: .2s all ease-out;
  background: #fff;
  z-index: 1;
  position: relative;
  border-bottom: 10px solid transparent;
  border-radius: 4px;
  font-size: 15px; }
  .media-feature .icon {
    font-size: 60px;
    color: #ffc107; }
  .media-feature h3 {
    font-size: 16px;
    text-transform: uppercase; }
  .media-feature:hover, .media-feature:focus {
    -webkit-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 20px -3px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 2;
    border-bottom: 10px solid #ffc107; }*/

/*.media-custom {
  background: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  margin-bottom: 30px;
  position: relative;
  top: 0; }
  .media-custom .meta-post {
    color: #ced4da;
    font-size: 13px;
    text-transform: uppercase; }
  .media-custom > a {
    position: relative;
    overflow: hidden;
    display: block; }
  .media-custom .meta-chat {
    color: #ced4da; }
    .media-custom .meta-chat:hover {
      color: #868e96; }
  .media-custom img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .media-custom:focus img, .media-custom:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .media-custom .media-body {
    padding: 30px; }
    .media-custom .media-body h3 {
      font-size: 20px; }
    .media-custom .media-body p:last-child {
      margin-bottom: 0; }

.media-testimonial img {
  width: 100px;
  border-radius: 50%; }

.media-testimonial blockquote p {
  font-size: 20px;
  color: #000;
  font-style: italic; }

.list-unstyled.check li {
  position: relative;
  padding-left: 30px;
  line-height: 1.3;
  margin-bottom: 10px; }
  .list-unstyled.check li:before {
    color: #5AC8D8;
    left: 0;
    font-family: "Ionicons";
    content: "\f122";
    position: absolute; }

#modalAppointment .modal-content {
  border-radius: 0;
  border: none; }

#modalAppointment .modal-body, #modalAppointment .modal-footer {
  padding: 40px; }*/

.site-footer {
  padding: 5em 0;
  background: #262626;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5); }
  .site-footer p:last-child {
    margin-bottom: 0; }
  .site-footer a {
    color: #ffc107;
    border-bottom: 1px solid transparent; }
    .site-footer a:hover {
      color: #fff;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .site-footer h3 {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff; }
  .site-footer .footer-link li {
    line-height: 1.5;
    margin-bottom: 15px; }
  .site-footer hr {
    width: 100%; }

.footer-social a {
  line-height: 0;
  border-radius: 50%;
  margin: 0 5px 5px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block; }
  .footer-social a:hover {
    background: #fff;
    border-color: #fff;
    color: #000; }

/*.link-thumbnail {
  display: block;
  position: relative;
  overflow: hidden;
  text-align: center; }
  @media (max-width: 991px) {
    .link-thumbnail {
      margin-bottom: 30px; } }
  .link-thumbnail img {
    position: relative;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .link-thumbnail .date {
    display: block;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    margin-bottom: 10px; }
  .link-thumbnail .icon {
    position: absolute;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    z-index: 4;
    top: 50%;
    font-size: 30px;
    color: #fff;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    margin-top: 30px; }
  .link-thumbnail h3 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: -20px;
    left: 0;
    color: #fff;
    font-size: 18px;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    z-index: 10;
    left: 50%;
    display: block;
    width: 77%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .link-thumbnail:before {
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute; }
  /*.link-thumbnail:hover h3 {
    opacity: 1;
    visibility: visible;
    bottom: 30px; }
  .link-thumbnail:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .link-thumbnail:hover .icon {
    opacity: 1;
    visibility: visible;
    margin-top: 0px; }
  .link-thumbnail:hover:before {
    opacity: 1;
    visibility: visible; }

.border-t {
  border-top: 1px solid #f8f9fa; }

.copyright {
  font-size: 14px; }

.element-animate {
  opacity: 0;
  visibility: hidden; }

/*#loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.0s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }*/
